ul.breadcrumbs
  li.breadcrumb
    a(ng-href="#/map") Restsforbeholdsvalg 2015
  li.breadcrumb(ng-repeat="hier in json.table.hierarchy")
    a(ng-href="#/resultater{{hier.path}}") {{hier.name}}
.clearfix
div.table-container
  h1.app-header {{json.table.name}}
  div.pie.mobile-show
    pie-chart(data="[{label: 'Ja', value: json.table.results.JA.votes_pct, color: '#F96F00'},{label:'Nej', value: json.table.results.NEJ.votes_pct, color: '#152C34'}]", options="{thickness: 35, logoPath: 'http://bem-hosting-valg.s3-website-eu-west-1.amazonaws.com/retsforbeholdet_2015/u46.png', legend: false}")
  table.overview-table.mobile-show
    tr
      td Senest opdateret:
      td {{convertDate(json.table.result_time) | date:'dd-MM-yyyy, kl. HH:mm'}}
    tr
      td Stemmeberettigede:
      td.number {{json.table.votes_allowed | number}}
    tr
      td Stemmeprocent:
      td.number {{json.table.votes_pct | number}}%
    tr
      td Optalte stemmer:
      td.number {{json.table.votes_made | number}}
    tr
      td Antal ja-stemmer:
      td.number {{json.table.results.JA.votes | number}}
    tr
      td Antal nej-stemmer:
      td.number {{json.table.results.NEJ.votes | number}}
    tr
      td Antal blanke stemmer:
      td.number {{(json.table.votes_invalid_blank | number) || 0}}
    tr
      td Total antal ugyldige stemmer:
      td.number {{(json.table.votes_invalid_total | number) || 0}}
    tr(ng-if="json.table.areatype != 'D'")
      td(ng-if="json.table.areatype == 'L'") Optalte storkredse:
      td(ng-if="json.table.areatype == 'S'") Optalte kredse:
      td(ng-if="json.table.areatype == 'K'") Optalte valgsteder:
      td(ng-if="json.table.areatype != 'D'") {{json.table.locations_completed}} af {{json.table.locations_total}}

  div.table-flextop.mobile-hide
    table.overview-table
      tr
        td Senest opdateret:
        td {{convertDate(json.table.result_time) | date:'dd-MM-yyyy, kl. HH:mm'}}
        td Stemmeberettigede:
        td.number {{json.table.votes_allowed | number}}
      tr
        td Stemmeprocent:
        td.number {{json.table.votes_pct | number}}%
        td Optalte stemmer:
        td.number {{json.table.votes_made | number}}
      tr
        td Antal ja-stemmer:
        td.number {{json.table.results.JA.votes | number}}
        td Antal nej-stemmer:
        td.number {{json.table.results.NEJ.votes | number}}
      tr
        td Antal blanke stemmer:
        td.number {{(json.table.votes_invalid_blank | number) || 0}}
        td Total antal ugyldige stemmer:
        td.number {{(json.table.votes_invalid_total | number) || 0}}
      tr(ng-if="json.table.areatype != 'D'")
        td(ng-if="json.table.areatype == 'L'") Optalte storkredse:
        td(ng-if="json.table.areatype == 'S'") Optalte kredse:
        td(ng-if="json.table.areatype == 'K'") Optalte valgsteder:
        td(ng-if="json.table.areatype != 'D'") {{json.table.locations_completed}} af {{json.table.locations_total}}
        td.mobile-hide
        td.mobile-hide
      div.pie
        pie-chart(data="[{label: 'Ja', value: json.table.results.JA.votes_pct, color: '#F96F00'},{label:'Nej', value: json.table.results.NEJ.votes_pct, color: '#152C34'}]", options="{thickness: 35, logoPath: 'u46.png', legend: false}")

  table.party-table.striped(ng-if="json.table.areatype != 'D' && json.table.locations.length")
    thead
      tr
       th(ng-click="changeOrder('-name')")
          strong(ng-if="json.table.areatype == 'L'") Storkredse
          strong(ng-if="json.table.areatype == 'S'") Kredse i {{json.table.name}}
          strong(ng-if="json.table.areatype == 'K'") Valgsteder i {{json.table.name}}
          i(ng-class="{'ion-android-arrow-dropup': order=='-name' && reverse==false, 'ion-android-arrow-dropdown': order=='-name' && reverse==true}")
        th.number(ng-click="changeOrder('-votes_made')")
          | Stemmetal&nbsp;
          i(ng-class="{'ion-android-arrow-dropup': order=='-votes_made' && reverse==true, 'ion-android-arrow-dropdown': order=='-votes_made' && reverse==false}")
        th.number(ng-click="changeOrder('-results.JA.votes_pct')")
          | Ja&nbsp;
          i(ng-class="{'ion-android-arrow-dropup': order=='-results.JA.votes_pct' && reverse==true, 'ion-android-arrow-dropdown': order=='-results.JA.votes_pct' && reverse==false}")
        th.number(ng-click="changeOrder('-results.NEJ.votes_pct')")
          | Nej&nbsp;
          i(ng-class="{'ion-android-arrow-dropup': order=='-results.NEJ.votes_pct' && reverse==true, 'ion-android-arrow-dropdown': order=='-results.NEJ.votes_pct' && reverse==false}")

    tbody
      tr
        td(colspan="7" ng-if="json.table.results.length == 0")
          | Afventer optælling fra&nbsp;
          span(ng-if="json.table.areatype == 'L'") landet.
          span(ng-if="json.table.areatype == 'S'") storkredsen.
          span(ng-if="json.table.areatype == 'K'") kredsen.
          span(ng-if="json.table.areatype == 'D'") valgstedet.
      tr(ng-repeat="constituency in json.table.locations | orderBy:order:reverse")
        td
          a(ng-href="#/resultater{{constituency.path}}") {{constituency.name}}
        td.number {{(constituency.votes_made || (constituency.results.JA.votes + constituency.results.JA.votes)) | number}}
        td.number {{constituency.results.JA.votes_pct | number}}%
        td.number {{constituency.results.NEJ.votes_pct | number}}%
  div.source-container
    span.source Kilde: Danmarks Statistik

