$grey: #eee;
$dark-grey: #d5d5d5;
$red: #F96F00;
$black: #666;
$white: #FFF;
$light-red: rgba(249,111,0, 0.6);
$lighter-red: lighten($red, 40);
$blue: #152C34;
$light-blue: rgba(21,44,52, 0.6);
$lighter-blue: lighten($blue, 40);
$neutral: rgba(170,170,170,0.4);

[ng-app] {
  font-family: $main-font;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.clearfix {
  clear: both;
}

.mobile-container {
  background-color: $grey;
  padding: 1px 15px;
}

.breadcrumbs {
  list-style: none;
  padding: 1em;
  margin: 0;
  overflow: hidden;

  a {
    color: $primary;
    text-decoration: none;
  }
}

.breadcrumb {
  float: left;
  margin-right: 5px;

  &:not(:first-child):before {
    content: "> ";
    color: $black;
  }
}

.table-container {
  background-color: $grey;
  padding: 1em;
}

.number {
  text-align: right;
}
.source-container-map{
  height: 2.8em;
}
.source-container{
  height: 2.8em;
}
.source{
  padding-top: 0.8em;
  float: right;
  font-size: 0.8em;
  line-height: 0.8em;
  color: rgba(0,0,0,0.5);
}


table {
  margin: 2em 0;
  border-collapse: collapse;
}

td,th {
  padding: .7em;
}

thead th {
  background-color: $secondary;
  color: $white;
  font-weight: normal;
  border-spacing: 0;
  text-align: left;
  padding: .7em;
  border-bottom: none;
  &:first-child {
    text-align: left;
    padding-left: 15px;
  }
}

.striped {
  background-color: $white;
  width: 100%;
  border-collapse: collapse;

  tbody {
    tr:nth-child(odd) {
      background-color: $grey;
    }
    tr {
      border: 2px solid $white;
      border-top: none;
    }
  }
}

.positive:before {
  color: $positive;
}

.negative:before {
  color: $negative;
}
.app-header {
  margin: 0;
  line-height: 1.2em;
}
.party-logo {
  text-align: center;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.3em;
}
.ion-android-arrow-dropdown:before {
  top: 2px;
  left: 2px;
  position: relative;
}
.ion-android-arrow-dropup:before {
  left: 2px;
  position: relative;
}

// Import directive SCSS
@import "../scripts/directives/block-poll/block-poll";
@import "../scripts/directives/election-map/election-map";
@import "../scripts/directives/news-ticker/news-ticker";

// Import pages SCSS
@import "../scripts/pages/map/map";
//@import "../scripts/pages/party/party";
@import "../scripts/pages/table/table";
@import "../scripts/pages/teaser/teaser";

// Import responsive SCSS
@import "responsive";


// Import logos SCSS
//@import "partylogos";

// Import ionicons
@import "//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

