div.tab-container
  ul.tab-header
    li.tab-nav.active(ng-click="tab='2011'") Optalte kredse {{json.map.constituencies.length | number}} af 92
  .clearfix
  div.tab-body(ng-click="toggleshowPer()" ng-if="detectmobile()")
    div.block-poll(block-poll)
  div.tab-body(ng-mouseover="toggleshowPer(false)" ng-mouseout="toggleshowPer(true)" ng-if="!detectmobile()")
    div.block-poll(block-poll)

  div.map-container.mobile-hide
    div.election-map(election-map)
    div.help-box
      p Farven angiver hvilket resultat der fører i kredsen:
      div.color-block
        div.block.red
        div.block.blue
        p.block-text Alle valgsteder i kredsen optalt
      div.color-block
        div.block.light-red
        div.block.light-blue
        p.block-text Afventer fintælling af valgsteder
      div.color-block
        div.block.neutral
        div.block.neutral
        p.block-text Kredsen er endnu ikke optalt
  ul.latest-updates.mobile-hide(ng-hide="json.map.latest_votes_counted_complete.length == 0")
    li.updated-text Seneste optalte:
    li.updated-region(ng-repeat="latest in json.map.latest_votes_counted_complete track by $index")
      a(ng-href="#/resultater{{latest.path}}") {{latest.name}} #[div.stripe(ng-class="{'red': latest.winner === 'JA', 'blue': latest.winner === 'NEJ'}")]
  .clearfix
  p.help-text.mobile-hide Klik på kortet for at se kredsresultater, eller klik #[a(ng-href="#/resultater/landet") her] for at gå direkte til landsresultatet
div.mobile-container.mobile-show
  table.party-table.striped
    thead
      tr
        th.mobile-show(ng-click="changeOrder('name')")
          | Storkredse
          i(ng-class="{'ion-android-arrow-dropup': order=='-name' && reverse==true, 'ion-android-arrow-dropdown': order=='-name' && reverse==false}")
        th.number(ng-click="changeOrder('-status_text')")
          | Status
          i(ng-class="{'ion-android-arrow-dropup': order=='-status_text' && reverse==true, 'ion-android-arrow-dropdown': order=='-status_text' && reverse==false}")
        th.number(ng-click="changeOrder('-results.JA.votes_pct')")
          | Ja
          i(ng-class="{'ion-android-arrow-dropup': order=='-results.JA.votes_pct' && reverse==true, 'ion-android-arrow-dropdown': order=='-results.JA.votes_pct' && reverse==false}")
        th.number(ng-click="changeOrder('-results.NEJ.votes_pct')")
          | Nej
          i(ng-class="{'ion-android-arrow-dropup': order=='-results.NEJ.votes_pct' && reverse==true, 'ion-android-arrow-dropdown': order=='-results.NEJ.votes_pct' && reverse==false}")

    tbody
      tr(ng-repeat="constituency in json.map.constituencies | orderBy:order:reverse")
        td
          a(ng-href="#/resultater{{constituency.path}}") {{constituency.name}}
        td.number {{constituency.status_text}}
        td.number {{constituency.results.JA.votes_pct | number}}%
        td.number {{constituency.results.NEJ.votes_pct | number}}%
  div
